@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  html,body{
    overflow-x: hidden;
  }
  html{
    scroll-behavior: smooth;
  }
  .hamburger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  .hamburger-menu > div{
    width: 2rem;
    height: 0.2rem;
    background-color: #FF4601;
    border-radius: 0.2rem;
    transition: all 0.5s;
  }
  .hamburger-open > div:nth-child(2){
    opacity: 0;
  }
  .hamburger-open > div:nth-child(1){
    transform: rotate(45deg);
    transform-origin: left;
  }
  .hamburger-open > div:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: left;
  }
  .clipped-polygon{
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  }
  .brand-button{
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
  }
  .brand-button > div{
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
  }
  .texture-bg{
    background: rgb(24,43,43);
    background-image: radial-gradient(ellipse farthest-corner at 10px 10px, rgba(22, 39, 39, 0.902), rgba(11, 48, 48, 0.734) 50%, rgb(20, 46, 46) 50%);
    background-size: 10px 10px;
  }
  .clipped-triangle{
    clip-path: polygon(0 0, 50% 50%, 0 100%);
  }
  .parallelogram{
    transform: skew(-20deg);
  }
  .parallelogram > *{
    transform: skew(20deg);
  }
  .nested-parallelogram{
    transform: skew(0deg);
  }
  .nested-parallelogram > *{
    transform: skew(20deg);
  }
}